---
export interface Props {
  title: string;
}
import logo from "../assets/logo.svg";
import framework from "../assets/framework.svg";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="navbar">
        <a href="/" class="home-link">
          <img src={logo} />
          <h1 class="nav-title">Pet <br /> Snuggles</h1>
        </a>
        <nav class="nav-links">
          <a href="/" class="nav-link">Pets</a>
          <a href="/blog/" class="nav-link">Blog</a>
          <a href="/store/" class="nav-link">Swag</a>
        </nav>
        <p class="powered-by">
          <span>
            Powered by{" "}
            <a
              class="powered-by-link"
              href="https://www.gatsbyjs.com/"
              target="_blank"
              rel="noreferrer"
            >
              Valhalla</a
            >
            and <b style={{ fontWeight: "var(--font-weight-6)" }}>Astro</b>
          </span>
          <img src={framework} alt="Astro" />
        </p>
      </div>

      <slot />
    </div>
    <style is:global>
      .powered-by-link {
        color: inherit;
        font-weight: var(--font-weight-6);
        text-decoration: underline;
        text-decoration-thickness: 1.5px;
        text-underline-offset: 2px;
      }
      .powered-by {
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-5);
        margin: 0 0 calc(-1 * var(--size-1));
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: var(--size-2);
      }
      .nav-links {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        gap: var(--size-5);
        margin-left: var(--size-5);
        margin-right: auto;
      }

      .nav-link {
        font-weight: var(--font-weight-7);
        text-decoration: none;
        font-size: var(--font-size-3);
        color: var(--color-fg-calm);
        line-height: var(--lineheight-00);

        :hover {
          color: var(--color-accent);
        }
      }
      .nav-title {
        color: var(--color-fg);
        font-size: var(--font-size-3);
        line-height: var(--lineheight-00);
        margin: 0;
      }
      .home-link {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: flex-end;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease-in-out;

        :hover {
          transform: scale(1.1);
        }
      }
      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: var(--size-5);
      }
      .page-wrapper {
        max-width: 1024px;
        margin: var(--size-5) auto var(--size-6);
        padding: 0 var(--size-5);
      }
    </style>
  </body>
</html>
